<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                           http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">
    <context:component-scan base-package="com.trailmagic.blogbridge.googlereader"/>

    <import resource="classpath:com/trailmagic/googlereader/applicationContext.xml"/>

    <task:annotation-driven executor="feedExecutor" scheduler="feedScheduler"/>

    <task:executor id="feedExecutor" pool-size="5-10" queue-capacity="200"/>
    <task:scheduler id="feedScheduler" pool-size="1"/>
</beans>